#Dashboard{
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

#Dashboard ul{
	list-style: inside;
}

@media only screen and (min-width: 600px) {
	#Dashboard{
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

@media only screen and (min-width: 1200px) {

}